body{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  background-color: #673ab7;
 }

 header h1{
   text-align: center;
   color: white;
   font-family: "Josefin Sans",sans-serif
 }

 .mat-horizontal-header-container{
   display: flex;
   justify-content: space-around;
 }